</main>
<footer style="border-top: 1px solid #f8cde9; margin-top: 24px;">
    <p>From Hang Ly with Love</p>
    <p id="timing-info" data-server-elapsed-time="<%= typeof elapsedTimeMs !== 'undefined' ? elapsedTimeMs : '' %>"></p>
  </footer>
  <%- include('shared-scripts') %>
</body>
</html>