<div>
    <% if (user) { %>
      Logged in as <strong><%= user %></strong> | <a href="/logout">Logout</a>
    <% } else { %>
      <a href="/login">Login</a> | <a href="/signin">Signin</a>
    <% } %>
  </div>