# App
PORT=3000
SESSION_SECRET=change-me

# PostgreSQL
DATABASE_URL="postgresql://postgres_backend_6ugu_user:cjNewraMXrfe1inJZhXr6QL16v90hqVk@dpg-d6m5ohshg0os73b4frgg-a.frankfurt-postgres.render.com/postgres_backend_6ugu"