:root {
    --primary-color: rgb(166, 242, 193);
    --white--color: #fff;
    --black-color: #000;
    --text-color:#333;
    --border-color: #dbdbdb;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes growth {
    from {
        transform: scale(var(--growth-from));
    }
    to {
        transform: scale(var(--growth-to));
    }
}
