<%- include('../partials/head', { title: 'Brand' }) %>
<%- include('../partials/header', { user }) %>
<main>
  <h3>Brand page</h3>
  <p>Trang brand dùng partials: head/header/footer.</p>
</main>
<%- include('../partials/footer') %>