<%- include('../partials/head', { pageTitle: 'Index', user, menuItems }) %>
  <h3>Index page</h3>
  <p>Frontend page được chuyển sang EJS để dùng partials chung.</p>
<%- include('../partials/footer') %>