<%- include('../partials/head', { title: 'Index' }) %>
<%- include('../partials/header', { user }) %>
<main>
  <h3>Index page</h3>
  <p>Frontend page được chuyển sang EJS để dùng partials chung.</p>
</main>
<%- include('../partials/footer') %>