<%- include('../partials/head', { title: 'List' }) %>
<%- include('../partials/header', { user }) %>
<main>
  <h3>List page</h3>
  <p>Trang list đã chuyển sang view EJS có layout chung.</p>
</main>
<%- include('../partials/footer') %>