<%- include('../partials/head', { title: 'Shop' }) %>
<%- include('../partials/header', { user }) %>
<main>
  <h3>Shop page</h3>
  <p>Trang shop đang dùng layout/partials đồng bộ.</p>
</main>
<%- include('../partials/footer') %>