<%- include('../partials/head', { title: 'Signin' }) %>
<%- include('../partials/header', { user }) %>
<main>
  <h3>Signin page</h3>
  <p>Trang đăng ký sẽ được mở rộng ở các lab tiếp theo.</p>
</main>
<%- include('../partials/footer') %>