<%- include('../partials/head', { pageTitle: 'Signup', user, menuItems }) %>
  <h3>Signup page</h3>
  <form action="/signup" method="post">
    <input name="username" placeholder="username" required />
    <input name="email" type="email" placeholder="email" required />
    <input name="password" type="password" placeholder="password" required />
    <button type="submit">Signup</button>
  </form>
<%- include('../partials/footer') %>